*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
    /* text-decoration: none; */
    font-family: "SegoeUI","Segoe UI",Segoe,"Segoe WP","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue",-apple-system,Roboto,Helvetica,"BBAlpha Sans","S60 Sans",Arial,sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    background: #f7f7f7;
}

section{
    /* padding: 2rem 12%; */
}

nav{
    display: flex;
    align-items: center;
    background-color: #333;
    justify-content: space-between;
    padding: 0 12%;    
}
.logo img{
    height: 5rem;
    width: 15rem;
}
.btn a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    border: .1rem solid white;
    border-radius: .3rem;
    padding: .7rem 2rem;
    margin: 0 .1rem;
}

.btn a:hover{
    border: .1rem solid gray;
    color: gray;
    text-decoration: underline;
}
.home{
    background-image: url(Image/hero.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}
.home-text{
    position: absolute;
}
.home-text h1{
    font-size: 4rem;
    margin-bottom: 5rem;
    color: white;
    /* width: 400px; */
    font-weight: normal;
}

.btn2{
    padding: 2rem 6rem;
    font-size: 1.8rem;
    text-decoration: none;
    text-align: center;
    border-radius: 0.325rem;
    display: inline-block;
    box-sizing: border-box;
    background-color: #fff;
    color: #7321a6;
}

.btn2:hover{
    text-decoration: underline;
    background-color: #E0EFF1;
    color: #7321a6; 
}
.btn-block{
    padding: 2rem 6rem;
    font-size: 1.8rem;
    text-decoration: none;
    text-align: center;
    border-radius: 0.325rem;
    display: inline-block;
    box-sizing: border-box;
    background-color: #fff;
    color: #7321a6;
    display: none;
}

.btn-block:hover{
    text-decoration: underline;
    background-color: #E0EFF1;
    color: #7321a6; 
}
.home-text{
    position: absolute;
    top: 40%;
    left: 15%;
}
.create{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.create-img img{
    height: auto;
    width: 100% ;
    text-align: center;
}
.create-text{
    /* width: 500px; */
    margin: auto;
    padding-right: 60px;
}
.create-text h1{
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 2rem;
    
}
.create-text p{
    font-size: 18px;
    color: #666666;
}
.Collaborate{
    background-image: url(Image/Collab_8x3_v2.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
    width: 100%;
    position: relative;
}
.c-text{
    position: absolute;
    top: 40%;
    padding: 0 60px 30px 100px;
}
.c-text h2{
    color: #fff;
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 2rem;
    font-weight: normal;
}
.c-text p{
    color: #fff;
    font-size: 2.25rem;
    font-weight: 300
}
.think{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.think-text{
    flex: 1 1 25rem;
    padding-left: 15rem;
}
.think-img img{
    flex: 1 1 40rem;
    height: 600px;
    width: 547px;
}
.think-text h2{
    font-size: 4rem;
    padding: 2rem 0;
    font-weight: normal;
}
.think-text p{
    font-size: 2.25rem;
    font-weight: 300;
    color: #666666;
}
.access{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.access-img img{
    height: 526px;
    width: 680px;
    margin: auto;
}
.access-text{
    padding: 0 50px;
}
.access-text h2{
    font-size: 4rem;
    padding: 2rem 0;
    font-weight: normal;
}
.access-text p{
    font-size: 2.25rem;
    font-weight: 300;
    color: #666666;
}
.media{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding-left: 100px;
    margin: 5rem 0;
}
.windows{
    display: grid;
    gap: 1rem;
}
.windows i{
    font-size: 45px;
    color: gray;
}
.windows b{
    font-size: 2rem;
    font-weight: normal;
}
.windows a{
    color: gray;
    font-size: 2rem;
    text-decoration: none;
    font-weight: normal;
    display: flex;
    margin-bottom: 1rem;
}
.windows a:hover{
    text-decoration: underline;
    color: blue;
}
.windows i:hover{
    color: blue;
}

.office-logo {
    height: 55px;
    width: 120px;
}
.office-text h2{
    font-size: 4rem;
    font-weight: normal;
    color: white;
}

.office-text p{
    font-size: 2.25rem;
    font-weight: 300;
    color: white;
    padding: 20px 0;
}
.office img{
    height: auto;
    width: 100%;
    position: relative;
    z-index: -1;
}
.office-text {
    padding: 60px 0px 0px 100px;
    width: 60%;
    position: absolute;
}
.connect{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}
.connect-img img{
    width: 532px;
    height: 393px;
}
.connect-text h2{
    font-size: 4rem;
    font-weight: normal;
}
.connect-text{
    padding-right: 50px;
}
.connect-text p{
    font-size: 2.25rem;
    font-weight: 300;
    color: #666666;
    padding: 20px 0;
}
.connect-text a{
    margin-top: 1rem;
}
.btn3{
    padding: 10px 30px;
    background-color: #7321a6;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
}
.btn3:hover{
    text-decoration: underline;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0px 100px;
}

.footer-menu ul{
    list-style: none;
}
.footer-menu b{
    font-size: 2rem;
    font-weight: normal;
}
.footer-menu ul li a{
    display: flex;
    text-decoration: none;
    margin: 10px 0;
    font-size: 2rem;
    font-weight: normal;
    color: #666666;
}
.footer-menu ul li a:hover{
    color: #7321a6;
    text-decoration: underline;
}
.footer-icon ul{
    list-style: none;
}
.footer-icon ul li i{
    font-size: 4rem;
    margin: 0 10px;
    color: gray;
    cursor: pointer;
}
.footer-icon ul li i:hover{
    color: black;
}
.copy{
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
}
.copy i,.copy a,.copy p{
    font-size: 1.5rem;
    text-decoration: none;
    color: #66666666;
}
.copy a:hover{
    text-decoration: underline;
    color: black;
}
.link a{
    margin: 0 20px;
}

/*  tablet  */    

@media(max-width: 991px){

    html{
        font-size: 50%;
    }
    header{
        /* padding: 2rem; */
    }
    section{
        /* padding: 2rem; */
    }
    .home{
        overflow: hidden;
    }
    .block{
        display: none;
    }
    .btn-block{
        display: block;
    }
    .btn2{
        display: none;
    }
    .create{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 400px auto;
    }
    .create-img img{
        grid-row: 1 / -1;
        height: auto;
        width: 100%;
    }
    .create-text{
        grid-row: 1 / 1;
        padding: 0 80px;
        margin: auto;
    }
    .c-text{
        position: absolute;
        top: -50%;
        /* padding: 0 60px 30px 100px; */
    }
    .Collaborate{
        margin-top: 300px;
    }
    .c-text h2{
        color: black;
    }
    .c-text p{
        color: #666666;
    }
    .think-img img{
        height: auto;
        width: 100%;
    }
    .think-text{
        padding: 0 10rem;
    }
    .access-img img{
        height: auto;
        width: 100%;
    }
    .access{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        align-items: center;
    }
    .access-text{
        grid-row: 1 / 1;
        padding: 4rem 6rem;
    }
    .access-img img{
        grid-row: 1 / -1;
    }
    .windows a{
        padding-right: 20px;
        display: inline-block;
    }
    .media{
        display: inline-block;
        padding-left: 49px;
    }
    .windows{
        gap: 2rem;
    }
    .office-text{
        width: 90%;
        position: relative;
        padding: 0 45px;
    }
    .office-text h2,.office-text p{
        color: black;
    }
    .connect-img img{
        width: 100%;
        height: auto;
    }
    .connect{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    .connect-text{
        grid-row: 1 / 1;
        padding: 4rem 6rem;
    }
    .connect-img img{
        grid-row: 1 / -1;
    }


}
    /* big phone  */
@media(max-width: 768px){

    html{
        font-size: 40%;
    }
    nav{
        height: 8rem;
    }
    footer{
        display: inline-block;
        padding: 30px 50px;
    }
    .copy{
        display: inline-block;
    }
    .link a{
        margin: 0 0;
    }
    
}


/* small phone */

@media(max-width: 450px){
    
    html{
        font-size: 30%;
    }
    nav{
        height: 8rem;
    }
    .create-text{
        font-size: 12px;
        padding: 0 30px;
    }

}